<container>
  <row class="content_title">
    <columns class="content_title_column">
      <div>
        <h2>fun included onboard</h2>
      </div>
    </columns>
  </row>

  <!-- DINING INFORMATION -->
  <row class="dining">
    <!-- LEFT COLUMN INFO -->
    <columns class="left_dining_info" large="5" valign="middle">
      <row>
        <column>
          <span class="dining_title">dining</span>
        </column>
      </row>

      <row>
        <column>
          <p class="dining_info">
            You've got a foodie in you - everyone does! Awaken and delight yours
            on a Carnival cruise with delicious main dishes, tempting desserts
            and general yumminess everywhere you look.
          </p>
        </column>
      </row>

      <row>
        <column>
          <span class="dining_learn_more">
            learn more
          </span>
        </column>
      </row>
    </columns>

    <!-- RIGHT COLUMN IMAGE -->
    <columns class="right_dining_info" large="7">
      <img
        src="{{ root }}/assets/img/dining.jpg"
        class="carnival-logo float-left"
    /></columns>
  </row>

  <row class="white_space">
    <columns> </columns>
  </row>

  <!-- WATERWORKS INFORMATION -->
  <row class="waterworks">
    <!-- LEFT COLUMN IMAGE -->
    <columns class="left_waterworks_info" large="7">
      <img src="{{ root }}/assets/img/waterworks.jpg"
    /></columns>

    <!-- RIGHT COLUMN INFO -->
    <columns class="right_waterworks_info" large="5" valign="middle">
      <row>
        <column>
          <span class="waterworks_title">waterworks</span>
        </column>
      </row>

      <row>
        <column>
          <p class="waterworks_info">
            Wanna splish - and splash - the day way? Head on over to WaterWorks,
            Carnival's onboard waterpark.
          </p>
        </column>
      </row>

      <row>
        <column>
          <span class="waterworks_learn_more">
            learn more
          </span>
        </column>
      </row>
    </columns>
  </row>

  <row class="white_space">
    <columns> </columns>
  </row>

  <!-- ENTERTAINMENT INFORMATION -->
  <row class="entertainment">
    <!-- LEFT COLUMN INFO -->
    <columns class="left_dining_info" large="5" valign="middle">
      <row>
        <column>
          <span class="dining_title">dining</span>
        </column>
      </row>

      <row>
        <column>
          <p class="dining_info">
            You've got a foodie in you - everyone does! Awaken and delight yours
            on a Carnival cruise with delicious main dishes, tempting desserts
            and general yumminess everywhere you look.
          </p>
        </column>
      </row>

      <row>
        <column>
          <span class="dining_learn_more">
            learn more
          </span>
        </column>
      </row>
    </columns>

    <!-- RIGHT COLUMN IMAGE -->
    <columns class="right_dining_info" large="7">
      <img
        src="{{ root }}/assets/img/dining.jpg"
        class="carnival-logo float-left"
    /></columns>
  </row>
</container>
