<container>
  <!-- THE LITTLE GREY AREA BEFORE THE BANNER -->
  <row class="grey_space">
    <columns> </columns>
  </row>

  <row class="footer_header">
    <!-- IMAGE -->
    <columns class="image_column" large="2" valign="middle">
      <img src="{{ root }}/assets/img/cruise-boat.png" />
    </columns>

    <!-- TITLE -->
    <columns large="6" valign="middle" class="title_column">
      <span class="title">see more sailings</span>
    </columns>

    <!-- BUTTON -->
    <columns class="button_column" large="4" valign="middle">
      <span>
        search cruises
      </span>
    </columns>
  </row>

  <!-- 3-COLUMN LINKS -->
  <row class="footer_links">
    <columns>
      <img src="{{ root }}/assets/img/deals-icon.png" />
      <span>today's deals</span>
    </columns>

    <columns>
      <img src="{{ root }}/assets/img/phone-icon.png" />
      <span>plan your cruise</span>
      <span>1.888.555.5555</span>
    </columns>

    <columns>
      <img src="{{ root }}/assets/img/computer-icon.png" />
      <span>find a travel agent</span>
    </columns>
  </row>

  <!-- MEDIA AND UNSUBSCRIBE INFO -->
  <row class="footer_media">
    <columns class="footer_social_media">
      <img src="{{ root }}/assets/img/compass-icon.png" />
      <img src="{{ root }}/assets/img/facebook-icon.png" />
      <img src="{{ root }}/assets/img/twitter-icon.png" />
      <img src="{{ root }}/assets/img/instagram-icon.png" />
      <img src="{{ root }}/assets/img/linkedin-icon.png" />
      <img src="{{ root }}/assets/img/pinterest-icon.png" />
      <img src="{{ root }}/assets/img/youtube-icon.png" />
    </columns>
  </row>

  <!-- BOTTOM FOOTER TEXT -->
  <row class="footer_text">
    <columns>
      <span>Please refer to the Pack & Go Sale.</span>
      <br />
      <span>*<u>Click here</u> for full offer terms and conditions.</span>
      <br />
      <br />
      <span>Gurantee our messages always go straight to your inbox</span>
      <br />
      <span>
        Add<u> funships@carnivalcruiselineemail.com</u> to your Address Book or
        Safe List.
      </span>
      <br />
      <br />
      <span>This email was sent to: <u>you@email.com</u></span>
      <br />
      <span>To unsubscribe from our mailing list, <u>click here</u></span>
      <br />
      <br />
      <span>Carnival Cruise Line:</span>
      <br />
      <span>Carnival Place, 3655 NW 87th Avenue, Miami, FL 33178-2428.</span>
      <br />
      <span>Attn: Interactive Marketing.</span>
      <br />
      <br />
      <span><u>FAQ</u> • <u>About Us</u> • <u>Privacy Notice</u></span>
      <br />
      <span>©2020 Carnival Corporation. All rights reserved.</span>
    </columns>
  </row>

  <row class="footer_hashtag">
    <columns>
      <span>
        #choosefun
      </span>
    </columns>
  </row>
</container>
