<container>
  <row class="header-4">
    <!-- LEFT COLUMN INFO -->
    <columns class="header_4_left_column">
      <row>
        <columns>
          <p class="clearance_info">winter clearance sale</p>
          <p class="price_top_info">cruises from</p>
          <div class="price_number">
            <p class="crossed_number">$105</p>
            <p>$65*</p>
          </div>

          <p class="price_bottom_info">per person, per day</p>
        </columns>
      </row>
    </columns>

    <!-- RIGHT COLUMN PICTURE -->
    <columns class="header_4_right_column">
      <img
        src="{{ root }}/assets/img/family-cruise-lines-hero.jpg"
        class="family_pic"
      />
    </columns>
  </row>
  <row class="header-4-bottom">
    <columns class="header_4_bottom_column">
      <div class="header_4_bottom_button">
        <p>
          hurry! ends today!
        </p>
      </div>
    </columns>
  </row>
</container>
