<container>
  <row class="header-1">
    <columns class="header_1_left_column">
      <img
        src="{{ root }}/assets/img/carnival-logo.png"
        class="carnival-logo float-left"
      />
    </columns>

    <columns class="header_1_right_column">
      <row>
        <columns class="header_1_right_column_icon">
          <img
            src="{{ root }}/assets/img/deals-icon.png"
            class="deals_icon float-right"
          />
        </columns>
        <columns valign="bottom" class="header_1_right_column_text">
          <p class="deals_text">TODAY'S DEALS</p>
        </columns>
      </row>
    </columns>
  </row>
</container>
